absl-py
antlr4-python3-runtime
appdirs
baal
black
cachetools
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@96c752ce821a3340e27edd51c28a00665dd32a30
docker-pycreds
fonttools
fvcore
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
h5py
hydra-core
idna
imageio
iopath
joblib
kiwisolver
Markdown
MarkupSafe
matplotlib
mypy-extensions
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
oauthlib
omegaconf
opencv-python
packaging
pandas
pathspec
pathtools
Pillow
platformdirs
portalocker
protobuf
psutil
pyasn1
pyasn1-modules
pycocotools
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
sentry-sdk
setproctitle
shapely
six
smmap
structlog
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
threadpoolctl
tifffile
tomli
torch
torchmetrics
torchvision
tqdm
typing_extensions
urllib3
wandb
Werkzeug
yacs
